@model System.Data.DataSet
    @using EF6OracleDB.Models.ViewModels
@{
    ViewBag.Title = "Home Page";

    List<EmpVM> empvms = ViewBag.Emps;
    List<CookStatVM> cookstatvms = ViewBag.CookStats;
}

<div class="jumbotron">
    <h1>Fry Cook Frenzy</h1>
    <p class="lead">Out of the frying pan into the fire</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Get Fried &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@ViewBag.Connection</h2>
       
    </div>
    <div class="col-md-4">
       
    </div>
    <div class="col-md-4">
      
    </div>
</div>

<table class="table">
    @foreach (var row in Model.Tables["Employees"].Rows)
    {
    }
</table>